<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have got a Match!</h1>
    <p>
      You have got a match with XXXXXXXXX

      <br>
    </p>
    <p>
      To see your match, please Go-to: 
    </p>
    <p>Good luck on your Match!</p>
  </body>
</html>