<h1>Welcome <%= @email %>! to Thunder! The Social Media App for Dating Developers</h1>

<p>You have not signed up yet! Please use the link below!  </p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>


